@import 'palette.css';
@import './space-background.css';

:root {
  --star-wars-yellow: #cb8e14;
}

html {
  height: 100vh;
}

body,
.vh100 {
  min-height: 100vh;
}

.yellow {
  color: var(--star-wars-yellow);
}

.yellow-hover:hover {
  color: var(--star-wars-yellow);
}

.justify-space-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.align-self-center {
  align-self: center;
}
