@import 'palette.css';
@import './space-background.css';

:root {
  --star-wars-yellow: #cb8e14;
}

.yellow {
  color: var(--star-wars-yellow);
}

.justify-space-between {
  justify-content: space-between;
}
